
<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Forget Password">
          
          <mat-card class="box">
            <mat-card-header>
              <mat-card-title>Forget Password</mat-card-title>
            </mat-card-header>
        
            <form class="example-form" #forgetFormData="ngForm" method="post">
              <mat-card-content>
              
                  <mat-form-field appearance="outline">
                    <mat-label>Email Id</mat-label>
                    <input matInput placeholder="Enter Enter Email" [(ngModel)]="forgetPasswordData.email" type="email" name="email"
                    #email="ngModel" required email>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint class="err-msg" *ngIf="email.errors?.required && (email.dirty || email.touched)">
                      Email is required.
                    </mat-hint>
                    <mat-hint class="err-msg" *ngIf="email.errors?.email && (email.dirty || email.touched)">
                      Provide Valid Email
                    </mat-hint>
                    <mat-hint class="right-msg" *ngIf="email.valid">
                      Perfect
                    </mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline" *ngIf="emailSubmit">
                    <mat-label>Otp</mat-label>
                    <input matInput placeholder="Enter Otp" [(ngModel)]="forgetPasswordData.otp" type="text" name="otp"
                    #otp="ngModel" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint class="err-msg" *ngIf="otp.errors?.required && otp.touched">
                      Otp is required.
                    </mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline" *ngIf="emailSubmit">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter Generate Password" [(ngModel)]="forgetPasswordData.password" type="text" name="password"
                    #password="ngModel" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint class="err-msg" *ngIf="password.errors?.required && password.touched">
                      Password is required.
                    </mat-hint>
                  </mat-form-field>

              </mat-card-content>
            
              <div class="text-center" *ngIf="!emailSubmit">
                <button mat-raised-button color="primary" [disabled]="email.invalid"
                (click)="checkUserAndGenerateOtp(forgetFormData)">Genrate Otp</button>
              </div>
              <div class="text-center" *ngIf="emailSubmit">
                <button mat-raised-button color="primary" [disabled]="forgetFormData.form.invalid"
                (click)="checkOtpValidate(forgetFormData)">Change Password</button>
              </div>
              <div class="text-right">
                <button mat-button color="primary" (click)="resetForm(forgetFormData)">Reset Form</button>
                <button mat-button color="primary" [routerLink]="['authPage']">go to login page ?</button>
              </div>
            </form>
          </mat-card>
          
        </mat-tab>
      </mat-tab-group>

    


  </div>
</div>

